
/* ------- header ------- */
html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: royalblue;
  font-size: 36px;
  color: white;
  padding: 30px;
  text-align: center;
}


/* ------- main ------- */


section.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 25px;
  background-color: lightcyan;
  padding: 30px;
}

section .vs {
  background-color: lightgrey;
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
}

section .player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightblue;
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
}


.user-weapon {
  background-color: white;
  height: 150px;
  width: 150px;
}

.computer-weapon {
  background-color: white;
  height: 150px;
  width: 150px;
}



/* ------- footer -------- */

footer {
  flex: 1;
  text-align: center;
  background-color: aqua;
}
